# Node.js
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output directories
dist/
build/
tmp/
temp/

# Docker files
Dockerfile
Dockerfile.*
.dockerignore

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.idea/
*.vscode/
*.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/